@model PizzaStore.Client.Models.PizzaViewModel
@foreach(var p in @Model.Cart.Pizzas)
{
    <p>@p.ToString()</p>
}
@using(Html.BeginForm("FinishOrder", "Order", null, FormMethod.Post))
{
  <button type="submit">Finish order</button>
}