@model PizzaStore.Client.Models.StoreViewModel
<h1>Hello @Model.Store.Name</h1>
<h1>This is you home page where you can view Store info</h1>
@foreach(var o in @Model.Store.Orders){
    <p>@o.Id</p>
    @foreach (var p in o.Pizzas)
    {
        <p>@p.ToString()</p>
    }

}