@model PizzaStore.Client.Models.UserViewModel
<h1>Hello @Model.User.Name</h1>
<h1>This is you home page where you can view past orders</h1>
@if(Model.User.Orders != null){
@foreach(var o in @Model.User.Orders){
    <p>Order #:@o.Id</p>
    @foreach (var p in o.Pizzas)
    {
        <p>@p.ToString()</p>
    }
    <p>$ @o.CalculatePrice()</p>

}
}
else
{
    <p>you have no orders</p>
}