@model PizzaStore.Client.Models.UserViewModel
<h1>Hello @Model.User.Name</h1>
<h1>This is you home page where you can view past orders</h1>
@foreach(var o in @Model.User.Orders){
    <p>@o.Id</p>
    @foreach (var p in o.Pizzas)
    {
        <p>@p.ToString()</p>
    }

}