@model PizzaStore.Client.Models.UserViewModel
@using (Html.BeginForm("LogIn", "User", null, FormMethod.Post))
{
    @Html.TextBoxFor(user => user.User.Name);
    <button type="submit">Log In</button>
}
